body {
    font-family: 'Signika', sans-serif;
    background-color: black;
    color: white;
}

.title-class {
    text-align: center;
    margin-top: 30px;
    font-family: 'Ruslan Display', cursive;
    color: #ea9abb;
}

h1 {
    color: black;
}

.search-input {
    margin: 100px;
}

.jumbotron-class {
    width: 70%;
    margin-left: 100px;
    box-shadow: 10px 10px 5px grey;
    background-color: #ec7373;
}

.hr-line {
    height: 12px;
    background-color: black;
}

a {
    position: relative;
    left: 10px;
}

footer {
    margin-left: 100px;
    width: 75%;
    font-size: large;
    letter-spacing: 2px;
    font-family: 'Great Vibes', cursive;
    text-align: center;
}

/* highlighting the name */
b {
    letter-spacing: 2px;
}