body {
    font-family: 'Contrail One', cursive;
}

h3 {
    margin: 10px;
    text-align: center;
}

.search-input {
    margin: 100px;
}

.jumbotron-class {
    width: 70%;
    margin-left: 100px;
    box-shadow: 10px 10px 5px grey;
    background-color: #f6e5f5;
}

.hr-line {
    height: 12px;
    background-color: black;
}

a {
    position: relative;
    left: 10px;
}